<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Page 2</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="page2.html">Go to Page 2</a>
        </li>
        <li>
          <a href="../index.html">Go to home</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content-img">
   	<center>
   		<img src="../assets/img/img-1.jpg" alt="Dribbble img">
   	</center>
  </div>
    <center>
     <form>
        First name:<br>
          <input type="text" name="firstname" value="First Name"><br>
        Last name:<br>
          <input type="text" name="lastname" value="Last Name"><br><br>
          <input type="submit" value="Enviar">
     </form>
   </center>

</body>
</html>